*~
bin
build
example*
*test
*cmake
CMakeCache*
CMakeFiles
*kdev*
*.txt
*.png
*.gnuplot
*.cbp

# Compiled files
*.slo
*.lo
*.o
*.obj
*.so
*.so.*
*.lai
*.la
*.a
# for windows
*.dll
*.exe

# make
Makefile
Makefile*.*

#tex
*.dvi
*.bak
*.aux
*.pdf
*.gz
*.log
*.out
*latexmk
*.fls
*.toc
*.nav
*.snm
*.bbl
*.blg
